body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --primaryClr: red;
  --secondaryClr: orange;
}
.container {
  width: 80%;
  margin: auto;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header img {
  height: 80px;
}

.hero {
  color: black;
  flex-direction: column;
  align-items: start;
}

.hero p:nth-child(3) {
  display: none;
}

form {
  padding: 55px 30px 30px;
  position: relative;
  margin-top: 50px;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  flex-direction: column;

  text-align: center;
}
.form input {
  border-radius: 30px 30px;
  height: 60px;
  font-size: 1rem;
  text-align: center;

  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  border-style: none;
  z-index: 1;
  line-height: 23px;

  width: 100%;
}
.form-content > div:nth-child(2) {
  padding-top: 20px;
}

.form img {
  max-width: 350px;
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  opacity: 0.2;
}

.form label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 23px;
  color: black;
}

.btn-primary {
  background: linear-gradient(var(--primaryClr), var(--secondaryClr));
  color: white;
}

.btn {
  color: white;
  font-weight: 600;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  height: 60px;
  padding: 0 30px;

  border-radius: 30px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
  transition: all 0.3s;
}
.footer {
  background: black;
  color: white;
  width: 100%;
  padding: 3rem;
  margin-top: 5rem;
}

.result-page {
  display: none;
}
.finalNames {
  position: relative;
  padding-bottom: 10px;
  margin: 0;
}
.top-img {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  position: relative;
  justify-content: center;
}

.image1 {
  max-width: 100%;
  position: relative;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.finalScore {
  position: relative;
  bottom: 20px;
  background-image: url(./assets/lovecalculator-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-size: contain;
  width: 150px;
  height: 130px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: -65px;
}

.text-30 {
  display: none;
}
.text-70 {
  display: none;
}
.text-100 {
  display: none;
}

@media (min-width: 450px) {
  .hero p:nth-child(3) {
    display: contents;
  }

  .form-content {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }

  .form-content > div:nth-child(2) {
    padding-top: 0;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
